# R files and developer folders
.Rproj.user
.Rhistory
.RData
.Ruserdata
.cache
.idea

# test data and logs
.log
test
tests/testthat/test
synthetic.rds
plot.png

# C++ object files + rstantools
inst/include/*.o
src/*.o
src/*.cc
src/*.dll
*.so

# docs
inst/doc
docs

# CRAN
CRAN-RELEASE