# Workflow derived from https://github.com/r-lib/actions/tree/master/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master, develop]
  pull_request:
    branches: [main, master, develop]
  merge_group:
  workflow_dispatch:

name: test-coverage

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-coverage:
    runs-on: macos-latest
    if: "! contains(github.event.head_commit.message, '[ci skip]')"
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      NOT_CRAN: true
      EPINOW2_SKIP_INTEGRATION: true  # Skip slow integration tests for fast coverage

    steps:
      - uses: actions/checkout@v6

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          dependencies: NA
          extra-packages: |
            covr
            stan-dev/cmdstanr
            testthat
            future
            future.apply

      - name: Install cmdstan
        if: runner.os != 'Windows'
        uses: epinowcast/actions/install-cmdstan@v1
        with:
          cmdstan-version: 'latest'
          num-cores: 2

      - name: Test coverage
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: covr::codecov(quiet = FALSE)
        shell: Rscript {0}
